@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;  
    cursor: pointer;
}


* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-size: 2rem;
}

body{
    display: flex;
    flex-wrap: wrap;
}
